configuration {
    modi:                "drun,run";
    show-icons:          true;
    icon-theme:          "Papirus";
    drun-display-format: "{name}";
    display-drun:        "Apps";
    font:                "JetBrainsMono Nerd Font 13";
    fixed-num-lines:     true;
    case-sensitive:      false;
    sort:                true;
    sorting-method:      "fzf";
    disable-history:     false;
    hover-select:        true;
}

@theme "style"
